/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-dic-2018, 11:52:40
    Author     : Kokekui
*/
.header{
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
}
.header__titulo{
    font-size: 18px;
}
.header__item{
    margin-right: 20px;
    text-decoration: none;
}